@use "../abstracts/variables" as *;

html * {
    font-family: $roboto-font;
}
 
body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: $bp-desktop;
    margin: 0 auto;
} 