$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$roboto-font: "Roboto", sans-serif;

// Colores de BIOR Web Studio
$color-primary: #1e7bbf; // Azul BIOR
$color-bg: #111111;      // Fondo ultra oscuro
$color-card-bg: #1a1a1a; // Fondo de la card
$color-overlay: rgba(30, 123, 191, 0.85); // Azul con transparencia para el hover
$color-text: #ffffff;
$color-line: rgba(30, 123, 191, 0.55);;